html {
  background-color: green;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(-90deg);
}
/*for animation*/
.dropdown-toggle:after {
  transition: 0.7s;
}
