.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(-90deg);
}
/*for animation*/
.dropdown-toggle:after {
  transition: 0.7s;
}
#menuItemsGrid {
  padding-bottom: 50px;
}

.card {
  border: none !important;
}

body {
  background-color: rgba(0, 0, 0, 0.74) !important;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

body::before {
  content: "";
  background-image: url(images/menuImages/tacoTable.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.menu-title {
  color: aliceblue;
}
