.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(-90deg);
}
/*for animation*/
.dropdown-toggle:after {
  transition: 0.7s;
}

#menu {
  margin-top: 50px;
}

#customize {
  display: none;
  padding-bottom: 50px;
}

.zoneSeperator {
  display: none;
}

.card {
  border: none !important;
}

body {
  background-color: rgba(0, 0, 0, 0.74) !important;
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: "Oxygen", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  padding-bottom: 50px;
}

body::before {
  content: "";
  background-size: cover;
  background-image: url(../images/menuImages/tacoTable.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 50%;
  z-index: -1;
}

.menu-title,
.customize-title {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-color: aliceblue;
}

.zoneSeperator {
  color: rgb(35, 35, 35);
  background-color: rgb(35, 35, 35);
  opacity: 100%;
  height: 10px;
}

.carousel {
  width: 50vh !important;
}

.carousel {
  margin: auto;
}

.carousel-control-icon {
  background: #000 !important;
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
}

.form-check-input {
  appearance: none;
  width: 20px !important;
  height: 20px !important ;
  border: 2px solid #00a738 !important;
  position: relative;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #00a738 !important;
  border: 2px solid #00812b !important;
}

.summary .info {
  max-height: 350px !important;
  overflow-y: auto !important;
}

.summary .btn-group {
  margin-top: 50px;
}

.summary .btn {
  border-color: white;
  border-style: solid;
}

.summary {
  overflow: hidden;
}

#back-btn {
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
  height: 50px;
}

#basketList {
  padding: 0;
}